body, html {
  margin: 0;
  padding: 0;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  line-height: 1.6;
  height: 100%;
  color: #222;
  background-color: rgba(240, 247, 251, 0.5);
}

/* container */
#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  margin: 0 2.5em;
  padding: 0 20px;
}

/* main */
main {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

/* header */
header {
  padding-right: 50%;
}
header ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: flex-start;
  margin-top: 5px;
  border-bottom: 1px solid #ccc;
}
header ul li {
  margin-right: auto;
}

/* footer */
footer {
  padding-left: 50%;
  margin-top: auto; /* Push footer to the bottom */
}
footer ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: flex-end;
  margin-bottom: 5px;
  border-top: 1px solid #ccc;
}
footer ul li {
  margin-left: auto;
}

/* nav links and info links */
.info a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}
header nav ul li a, footer nav ul li a{
  display: block;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  position: relative;
}
header nav ul li a::after, footer nav ul li a::after, .info a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 50%;
  left: 0;
  background-color: black;
  opacity: 0.7;
  transition: width 0.5s;
}
header nav ul li a:hover::after, footer nav ul li a:hover::after, .info a:hover::after {
  width: 100%;
}

/* info section */
.info {
  flex: 1;
  text-align: left;
}
.subtitle p{
  font-size: 1em;
  margin: 0px;
}

/* introduce */
.introduce{
  display: flex;
  flex-direction: column;
  padding: 0 25% ;
}

.introduce p{
  font-family: "M PLUS 1p", sans-serif;
}

/* heading */
h1 {
  font-size: 3em;
  margin: 0;
}

/* products */
.products{
  text-align: right;
}
.products h2{
  margin: 0;
  padding: 0;
}

.products a{
  font-size: 1.75em;
  color: black;
  text-decoration: none;
}
.products a:hover{
  color : rgb(13, 87, 177);
}

/* products */
.products-detail {
  display: flex;
}
.products-img{
  width: 50%;
  text-align: center;
}
.products-img img{
  width: 70%;
}
.products-description{
  width: 50%;
  text-align: left;
}
.products-description p{
    font-family: "M PLUS 1p", sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
 }
 .products-description a{
  color: black;
  text-decoration: none;
 }
  .products-description a:hover{
    color : rgb(13, 87, 177);
  }

/* for mobile */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  #container {
    margin: 0 auto;
  }
  header {
    padding-right: 0;
  }
  header ul {
    justify-content: center;
  }
  header ul li {
    margin: auto;
  }
  footer {
    padding-left: 0;
  }
  footer ul {
    justify-content: center;
  }
  footer ul li {
    margin: auto;
  }
  .products-detail {
    flex-direction: column;
  }
  .products-img{
    width: 100%;
  }
  .products-description{
    text-align: center;
    width: fit-content;
  }
  .introduce{
    padding: 10%;
  }
}
